{% extends "base.html" %}
{% load static %}

{% block style %}
<title>Create Post</title>
<link rel="stylesheet" href='{% static "css/post.css" %}'>
{% endblock style %}

{% block content %}
<div class="post-container">
    <h1>Create a New Post</h1>
    <form  class="post-form" method="POST" action="" >
        {% csrf_token %}
        {{form.title}}
        {{form.content}}
        {{form.author}}
        {{form.published_date}}
        <button type="submit">Save</button>
    </form>
</div>
<script src='{% static "js/post.js" %}'></script>

{% endblock content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href='{% static "css/post.css" %}'>
</head>
<body>
    <div class="post-container">
        <h1>Create a New Post</h1>
        <form  class="post-form" method="POST" action="" >
            {% csrf_token %}
            {{form.title}}
            {{form.content}}
            {{form.author}}
            {{form.published_date}}
            <button type="submit">Save</button>
        </form>
    </div>
    <script src='{% static "js/post.js" %}'></script>
</body>
</html> -->
