{% extends "base.html" %}
{% load static %}

{% block style %}
<title>Edit Post</title>
<link rel="stylesheet" href='{% static "css/post.css" %}'>
{% endblock style %}

{% block content %}
<body style="background-color: cyan;">
    <div class="post-container" style="background-color: rgba(229, 8, 107, 0.788);">
        <h2>{% if id %} Edit {% else %} New {% endif %} Post</h2>
        <form action="" method="post" class="post-form" >
            {% csrf_token %}
            {{form.as_p}}
            <button style="background-color: rgb(255, 149, 0); color:black;" type="submit">Save</button>
        </form>
    </div>
    
    
</body>
{% endblock content %}

