{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Sign Up/Login</title>
    <link rel="stylesheet" href='{% static "css/contact.css" %}'>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="loginForm" class="form">
                <h2>Login</h2>
                <input type="text" placeholder="Username" id="loginUsername" required>
                <input type="password" placeholder="Password" id="loginPassword" required>
                <button type="submit">Login</button>
                <p class="message">Not registered? <a href="#" id="showSignup">Create an account</a></p>
            </form>
            <form id="signupForm" class="form hidden">
                <h2>Signup</h2>
                <input type="text" placeholder="Username" id="signupUsername" required>
                <input type="email" placeholder="Email" id="signupEmail" required>
                <input type="password" placeholder="Password" id="signupPassword" required>
                <button type="submit">Signup</button>
                <p class="message">Already registered? <a href="#" id="showLogin">Sign In</a></p>
            </form>
        </div>
    </div>
    <script src='{% static "js/contact.js" %}'></script>
</body>
</html>