{% extends "base.html" %} 
{% load static %}   

{% block style %}
<title>Sign Up</title> 
<link rel="stylesheet" href='{% static "css/contact.css" %}'>  
{% endblock style %}



{% block content %}   
<div class="container">     
    <div class="form-container">         
        <form id="signupForm" class="form" method="post">
            {% csrf_token %}
            <h2>Signup</h2>


            {% if form.non_field_errors %}
            <div class="error" style="color:red">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
            </div>
            {% endif %}
    
    {% for field in form %}
      <div>
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
          <div class="error" style="color:red">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <br><br>
      </div>
    {% endfor %}
             
           <input type="submit" value="SignUp" style="background-color: green;">
            <!-- <button type="submit">Signup</button> -->
            <p class="message">Already registered? <a href="{% url 'login_page' %}" id="showLogin">Sign In</a></p>
        </form>
    </div>
</div>
{% endblock content %}